---
import { getConfig } from '@libs/config'
import CircleSquareIcon from '@components/svgs/CircleSquareIcon.astro'
import ResponsiveImage from '@layouts/partials/ResponsiveImage.astro'
---

<section class="row g-3 g-medium-5 pb-medium-5 mb-xlarge align-items-center">
  <div class="col-large-6">
    <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--cxd-teal-rgb);">
      <CircleSquareIcon height={32} width={32} />
    </div>
    <h2 class="display-5 mb-medium fw-semibold lh-small">Personalize it with Chassis&nbsp;Icons</h2>
    <p class="lead fw-normal">
      <a href={getConfig().icons}>Chassis Icons</a> is an open source SVG icon library featuring over 1,800 glyphs, with
      more added every release. They're designed to work in any project, whether you use Chassis itself or not. Use them
      as SVGs or icon fonts—both options give you vector scaling and easy customization via CSS.
    </p>
    <p class="d-flex lead fw-normal mb-medium-0">
      <a href={getConfig().icons} class="icon-link icon-link-hover fw-semibold">
        Get Chassis Icons
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right-long-solid"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-large-6">
    <ResponsiveImage imgPath="/assets/img/chassis-icons.png" alt="Chassis Icons" classes="mx-auto d-block mt-medium" />
  </div>
</section>
