---
import { iconsPages } from '@libs/content'
import { getDocsStaticFsPath } from '@libs/path'
import path from 'node:path'
---
<section id="sprite-section" class="my-5">
  <div class="d-flex mb-large">
    <h2 id="icons" class="mb-0">Icons</h2>
    <form class="subnav-search d-flex flex-nowrap ms-auto" onsubmit="return false">
      <label for="search" class="visually-hidden">Search for icons</label>
      <input class="form-input search mb-0" id="search" type="search" placeholder="Start typing to filter..." autocomplete="off" />
    </form>
  </div>
  <ul id="icons-list" class="row row-cols-3 row-cols-small-4 row-cols-large-6 row-cols-xlarge-8 bulletless icon-list icon-xlarge">
    {iconsPages.map((iconPage) => {
      const filename = iconPage.id.split('/').pop()?.replace('.mdx', '')
      if (!filename) return null
      return (
        <li class="col mb-large"
            data-name={filename}
            data-tags={iconPage.data.tags?.split(',')?.join(' ').toLowerCase()}
            data-categories={iconPage.data.categories?.split(',')?.join(' ').toLowerCase()}>
          <a class="d-block text-decoration-none" href={`/icons/${filename}/`}>
            <div class="bg-even px-medium py-3xlarge mb-xsmall text-center rounded">
              <svg class="icon">
                <use xlink:href={`#${filename}`}/>
              </svg>
            </div>
            <div class="name text-muted text-decoration-none text-center">{filename}</div>
          </a>
        </li>
      )
    })}
  </ul>
</section>
