---
import type { SvgIconProps } from '@libs/svg'

type Props = SvgIconProps

const { class: className, height, width } = Astro.props
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 408" role="img" class={className} height={height} width={width}>
  <title>Chassis</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M460 408H52V0H460V408ZM164.781 132.333C134.927 132.333 120 147.114 120 176.674V235.326C120 264.886 134.927 279.667 164.781 279.667H218.348L233.369 268.722V251.042H166.198C157.507 251.042 153.16 246.739 153.16 238.133V173.867C153.16 165.261 157.507 160.958 166.198 160.958H233.369V143.278L218.348 132.333H164.781ZM258.791 132.333L255.957 137.946L304.423 205.018L254.54 274.054L257.091 279.667H287.7L323.129 229.434L358.557 279.667H389.449L392 274.054L342.118 205.018L390.583 137.946L387.749 132.333H357.14L323.129 180.603L289.401 132.333H258.791Z"
    fill="currentColor"
  >
  </path>
</svg>
