---
import { getConfig } from '@libs/config'
---

<footer class="cxd-footer py-large py-medium-5 mt-xlarge bg-evident">
  <div class="container py-large py-medium-5 px-large px-medium-3 fg-subtle">
    <div class="row">
      <div class="col-6 mb-medium">
        <a
          class="d-inline-flex align-items-center mb-xsmall text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Chassis"
        >
        <img src="/assets/logo/chassis-logo-brand.svg" alt="Chassis UI Logo" width="162" height="42" />
        </a>
        <p>This project is licensed under the MIT License, which allows for free use, modification, and distribution of the software.</p>
      </div>
      <div class="col-2 mb-medium">
        <h5>Docs</h5>
        <ul class="bulletless">
          <li class="mb-xsmall"><a href="/docs/css">CSS Framework</a></li>
          <li class="mb-xsmall"><a href="/docs/tokens">Design Tokens</a></li>
          <li class="mb-xsmall"><a href="/docs/assets">Asset Distributor</a></li>
          <li class="mb-xsmall"><a href="/docs/icons">Icon Generator</a></li>
          <li class="mb-xsmall"><a href="/docs/figma">Figma Library</a></li>
        </ul>
      </div>
      <div class="col-2 mb-medium">
        <h5>Github</h5>
        <ul class="bulletless">
          <li class="mb-xsmall"><a href="/docs/css">Chassis - CSS</a></li>
          <li class="mb-xsmall"><a href="/docs/tokens">Chassis - Tokens</a></li>
          <li class="mb-xsmall"><a href="/docs/assets">Chassis - Assets</a></li>
          <li class="mb-xsmall"><a href="/docs/icons">Chassis - Icons</a></li>
        </ul>
      </div>
      <div class="col-2 mb-medium">
        <h5>About</h5>
        <ul class="bulletless">
          <li class="mb-xsmall"><a href="/docs/css">Chassis UI</a></li>
          <li class="mb-xsmall"><a href="/docs/css">Developer</a></li>
          <li class="mb-xsmall"><a href="/docs/tokens">Blog</a></li>
          <li class="mb-xsmall"><a href="/docs/assets">Contribute</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
