---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout {...Astro.props} layout="docs">
    <div class="container h100 align-items-center">
        <div class="row">
        <div class="col-8 offset-2 text-center">
    <h1>Build Better Design Systems.<br />In Sync. At Scale.</h1>
    <p class="lead">Chassis is the backbone of scalable design systems built for complex, evolving product ecosystems. It unifies Figma components, advanced design tokens, multi-platform transformers, asset libraries, and a fully token-synced CSS framework — all working in harmony across brands, platforms, and products.</p>
    <button class="button primary">Get Started</button>
    </div>
    </div>
    </div>
</BaseLayout>