---
import type { LayoutOverridesHTMLAttributes } from '@libs/layout'
import BaseLayout from '@layouts/BaseLayout.astro'

const bodyProps: LayoutOverridesHTMLAttributes<'body'> = {}

bodyProps['id'] = 'icons-body'
bodyProps['data-cx-spy'] = 'scroll'
bodyProps['data-cx-target'] = '#icons-nav'
---

<BaseLayout {...Astro.props} layout="icons" overrides={{ body: bodyProps }}>
  <div slot="main" class="container-2xlarge px-medium px-medium-4xlarge cxd-gutter icon-docs icon-reset pt-medium-large pb-medium-large">
    <slot />
  </div>
</BaseLayout>
