---
import Ads from '@components/Ads.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

interface Props {
  description: string
  title: string
}

const { description, title } = Astro.props
---

<BaseLayout {...Astro.props} layout="single">
  <Fragment slot="main">
    <header class="py-xlarge border-bottom">
      <div class="container-2xlarge cxd-gutter pt-medium-1 pb-medium-4">
        <div class="row">
          <div class="col-xlarge-8">
            <h1 class="cxd-title mt-0">{title}</h1>
            <p class="cxd-subtitle">{description}</p>
            <slot name="header-content" />
          </div>
          <div class="col-xlarge-4 d-large-flex justify-content-xlarge-end">
            <Ads />
          </div>
        </div>
      </div>
    </header>

    <main class="cxd-content order-1 py-xlarge" id="content">
      <div class="container-2xlarge cxd-gutter">
        <slot />
        <slot name="main-content" />
      </div>
    </main>
  </Fragment>
</BaseLayout>
