---
import type { Layout } from "@libs/layout";

interface Props {
  layout: Layout;
}

const { layout } = Astro.props;
---

<a
  class="nav-link dropdown-toggle"
  href="/docs"
  role="button"
  data-cx-toggle="dropdown"
  aria-expanded="false">Docs</a
>
<ul class="dropdown-menu">
  <li><a class="dropdown-item" href="/docs/css">CSS</a></li>
  <li><a class="dropdown-item" href="/docs/tokens">Tokens</a></li>
  <li><a class="dropdown-item" href="/docs/icons">Icons</a></li>
  <li><a class="dropdown-item" href="/docs/figma">Figma</a></li>
  <li><a class="dropdown-item" href="/docs/assets">Assets</a></li>
  <li><hr class="dropdown-separator" /></li>
  <li><a class="dropdown-item" href="/docs">Docs Index</a></li>
</ul>
