//
// Brand guidelines
//

// Logo series wrapper
.cxd-brand-logos {
  color: $cxd-subtle;

  .inverse {
    color: $white;
    background-color: $cxd-subtle;
  }
}

// Individual items
.cxd-brand-item {
  + .cxd-brand-item {
    border-top: 1px solid var(--cx-border-color);
  }

  @include media-breakpoint-up(medium) {
    + .cxd-brand-item {
      border-top: 0;
      border-left: 1px solid var(--cx-border-color);
    }
  }
}


//
// Color swatches
//

.color-swatches {
  margin: 0 -5px;

  // Docs colors
  .cxd-main {
    background-color: $cxd-main;
  }
  .cxd-main-light {
    background-color: $cxd-main-light;
  }
  .cxd-main-lighter {
    background-color: #e5e1ea;
  }
  .cxd-gray {
    background-color: #f9f9f9;
  }
}

.color-swatch {
  width: 4rem;
  height: 4rem;

  @include media-breakpoint-up(medium) {
    width: 6rem;
    height: 6rem;
  }
}
