@import "../../../node_modules/@ozgurgunes/chassis-css/scss/mixins/context";
@import "../../../node_modules/@ozgurgunes/chassis-css/scss/placeholders/context";
@import "../../../node_modules/@ozgurgunes/chassis-css/scss/placeholders/component";
@import "../../../node_modules/@ozgurgunes/chassis-css/scss/placeholders/button";
// Buttons
//
// Custom buttons for the docs.

// scss-docs-start cxd-button
.cxd-button {

  --#{$prefix}padding-y: var(--#{$prefix}space-small);
  --#{$prefix}padding-x: var(--#{$prefix}space-large);
  --#{$prefix}gap: var(--#{$prefix}space-small);
  --#{$prefix}font-family: var(--#{$prefix}font-family-text);
  --#{$prefix}font-size: var(--#{$prefix}font-size-large);
  --#{$prefix}font-weight: var(--#{$prefix}font-weight-mass);
  --#{$prefix}line-height: var(--#{$prefix}line-height-large);
  --#{$prefix}icon-size: var(--#{$prefix}icon-large);

  display: inline-flex;
  gap: var(--#{$prefix}gap);
  align-items: center;
  text-decoration: if($link-decoration == none, null, none);

  @extend %button, %solid-button, %component, %box-padding;

  &.large {
    --#{$prefix}font-size: var(--#{$prefix}font-size-xlarge);
    --#{$prefix}line-height: var(--#{$prefix}line-height-xlarge);
    --#{$prefix}font-weight: var(--#{$prefix}font-weight-strong);
    --#{$prefix}icon-size: var(--#{$prefix}icon-xlarge);
  }

}
// scss-docs-end cxd-button
