// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.cxd-mode {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .75rem;
  margin-right: .75rem;
  z-index: 3;
  .button-mode {
    background-color: var(--cx-bg-idle);
    border: var(--cx-border-width) solid var(--cx-border-subtle);
  }
  &:not(.cxd-example:hover &) {
    display: none;
  }
}
.cxd-clipboard,
.cxd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(medium) {
    display: block;
  }
}

.button-mode,
.button-clipboard,
.button-edit {
  --cx-icon-color: var(--cx-fg-subtle);
  --cx-icon-size: var(--cx-icon-small);
  display: block;
  padding: .25em;
  line-height: 1;
  background-color: var(--cxd-pre-bg);
  border: 0;
  @include border-radius(.25rem);

  &:hover {
    color: var(--cx-hover-color);
  }

  &:focus {
    z-index: 3;
  }
}

.button-mode,
.button-clipboard {
  position: relative;
  z-index: 2;
  margin-top: .75rem;
  margin-right: .75rem;
}

