.context-palette-grid,
.body-colors-grid {
  font-size: var(--cx-font-size-small);
  line-height: var(--cx-line-height-small);
  gap: 0;

  .grid-col {
    display: grid;
    position: relative;
    gap: 0;
  }

  .grid-item {
    //width: 16rem;
    display: flex;
    border-bottom: 1px solid var(--cx-border-subtle);
    padding: var(--cx-space-xsmall) var(--cx-space-2xsmall);
    align-items: center;
    text-wrap: nowrap;

    &.header {
      //background-color: var(--cx-bg-even);
      font-weight: var(--cx-font-weight-mass);
      border-bottom: 2px solid var(--cx-border-main);
    }
  }

}

.context-palette-grid {

  grid-template-columns: 20rem repeat(var(--cx-grid-columns, 1), 8rem) auto;
  grid-template-rows: auto;

  .grid-col {
    grid-template-rows: auto 6rem repeat(var(--cx-grid-rows, 1), 3.5rem);
  }

  .variable-col {
    position: sticky;
    right: 0px;
    background-color: var(--cx-bg-color);
    box-shadow: -4px 0 8px -4px rgba(0,0,0,.25);

    .grid-item {
      padding-left: .75rem;
      padding-right: 0;
    }
  }

  .description-col .grid-item {
    display: block;
    padding-right: 1rem;
    text-wrap: wrap;
    padding-left: 0;
  }

}

.body-colors-grid {
  grid-template-columns: 4fr 1fr 3.5fr 3.5fr;
  grid-template-rows: auto;
  gap: 0;

  .grid-col {
    grid-template-rows: auto repeat(var(--cx-grid-rows, 12), 3.5rem);
  }

  .variable-col .grid-item {
    padding-left: 0;
  }

  .color-col .grid-item {
    padding-right: 1rem;
  }

  .property-col .grid-item {
    padding-left: 1rem;
  }
}
