// scss-docs-start example-1
:root {
  --example-fg: #228822;
}
.example {
  color: var(--example-fg, var(--cx-fg-subtle));
}
// scss-docs-end example-1
// scss-docs-start example-2
.example-2 {
  @extend %context;
  // %solid-context will override --cx-fg-color with --cx-fg-solid.
  --cx-fg-color: var(--example-fg-color, var(--cx-fg-subtle));
  // --cx-bg-color: var(--example-bg-color, var(--cx-bg-even));
  // Override the override of %solid-context.
  --cx-solid-fg-color: var(--cx-fg-subtle);
  color: var(--cx-fg-color);
  background-color: var(--cx-bg-color);
  &.solid {
    @extend %solid-context;
  }
}
// scss-docs-end example-2
// scss-docs-start example-3
.example-3 {
  @extend %context, %basic-context;
  --component-fg-color: var(--example-fg-color, var(--cx-fg-main));
  --component-bg-color: var(--example-bg-color, var(--cx-bg-even));
  color: var(--component-fg-color);
  // This will break solid style background.
  background-color: var(--component-bg-color);
  &.solid {
    @extend %solid-context;
    // Restoring solid style background.
    background-color: var(--example-solid-bg-color, var(--cx-bg-solid));
  }
}
// scss-docs-end example-3
