//
// Footer
//

.cxd-footer {
  // margin-top: 0 !important;
  margin-top: 4rem;
  a {
    color: var(--cx-fg-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--cx-hover-color);
      text-decoration: underline;
    }
  }
}
