
// .cxd-gutter {
//   --cx-gutter-x: #{$cxd-gutter-x};
// }

.hero-notice {
  color: var(--cx-info-fg-main);
  background-color: var(--cx-info-bg-even);
  border: 1px solid var(--cx-info-border-subtle);

  @media (min-width: 540px) {
    border-radius: 5em !important; // stylelint-disable-line declaration-no-important
  }
}

.button-figma {
  --cx-button-color: var(--cx-fg-main);
  --cx-button-border-color: var(--cx-fg-main);
  --cx-button-hover-color: var(--cx-bg-main);
  --cx-button-hover-bg: var(--cx-fg-main);
  --cx-button-hover-border-color: var(--cx-button-hover-bg-color);
}

#icons-body,
#icons-list li a .icon {
  --cx-icon-color: var(--cx-fg-main);
}

#icons-list li a {
  --cx-link-color: var(--cx-fg-subtle);
  --cx-fg-color: var(--cx-fg-main);
}

#icons-list li a:hover .icon {
  --cx-link-color: var(--cx-link-main);
  --cx-icon-color: var(--cx-link-main);
}

.icon-search {
  @media (min-width: 768px) {
    width: 35%;
  }
}

.icon-list {
  font-size: 2rem;

  // stylelint-disable  declaration-no-important
  a:hover,
  a:focus {
    &,
    .name {
      color: var(--cx-link-hover) !important;
    }
  }
  // stylelint-enable  declaration-no-important

  &:empty::before {
    display: block;
    width: 100%;
    padding: 100px 2rem;
    margin-right: 15px;
    margin-left: 15px;
    color: var(--cx-fg-subtle);
    text-align: center;
    content: "Nothing found, try searching again.";
    background-color: var(--cx-bg-even);
    border-radius: .5rem;
  }
}

.button-group > .button {
  flex-shrink: 0;
}

.name {
  font-size: .8125rem;
}

@media (min-width: 1200px) {
  .row-cols-xlarge-8 {
    > * {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
}

.icon-demo {
  background-color: var(--cx-bg-even);
  background-image: radial-gradient(circle, var(--cx-border-subtle) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 1rem 1rem;
  padding: 6rem 2rem;
  margin-bottom: 2rem;
}

.icon-demo,
.icon-demo-examples {
  --cx-border-color: var(--cx-border-subtle);
}

aside h3 {
  font-weight: var(--cx-font-weight-strong);
}
aside h3:not(:first-child) {
  margin-top: 1.5rem;
}
