.cxd-gutter {
  --cx-gutter-x: #{$cxd-gutter-x};
}

.cxd-layout {
  // padding: 1rem !important;

  @include media-breakpoint-up(large) {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1.5fr 6.5fr;
    gap: $grid-gutter-width;
    padding: 0 1rem !important;
    margin: 0 auto;
  }
}

.cxd-sidebar {
  grid-area: sidebar;
}

.cxd-intro {
  margin-top: 1rem;
}

.cxd-main {
  grid-area: main;

  @include media-breakpoint-down(large) {
    max-width: 760px;
    margin-inline: auto;
  }

  @include media-breakpoint-up(medium) {
    display: grid;
    grid-template-areas:
      "intro"
      "toc"
      "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }

  @include media-breakpoint-up(large) {
    grid-template-areas:
      "intro   toc"
      "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.cxd-intro {
  grid-area: intro;
}

.cxd-toc {
  grid-area: toc;
}

.cxd-content {
  grid-area: content;
  min-width: 1px; // Fix width when cxd-content contains a `<pre>` https://github.com/ozgurgunes/chassis-css/issues/25410
}
