//
// Placeholder svg used in the docs.
//

// Remember to update `site/_layouts/examples.html` too if this changes!

.cxd-placeholder-image {
  font-size: 1.125rem;
  user-select: none;
  text-anchor: middle;
}

.cxd-placeholder-image-large {
  font-size: 3.5rem;
}
