$prefix: cx- !default;

$color-mode-type:               data !default; // `data` or `media-query`

$enable-accordion-sizes:        true !default;
$enable-accordion-contexts:     true !default;
$enable-button-pointers:        true !default;
$enable-component-gradients:    false !default;
$enable-component-shadows:      false !default;
$enable-container-classes:      true !default;
$enable-cssgrid:                true !default;
$enable-dark-mode:              true !default;
$enable-deprecation-messages:   true !default;
$enable-elevation-shadows:      true !default;
$enable-grid-classes:           true !default;
$enable-important-utilities:    true !default;
$enable-negative-margins:       true !default;
$enable-padding-box:            true !default;
$enable-reduced-motion:         true !default;
$enable-rfs:                    true !default;
$enable-rounded-borders:        true !default;
$enable-smooth-scroll:          true !default;
$enable-table-active-border:    true !default;
$enable-table-border-radius:    true !default;
$enable-table-font-tokens:      true !default;
$enable-transitions:            true !default;
$enable-validation-icons:       true !default;
$enable-visited-links:          false !default;

//
// Icons
//
$icon-url-prefix:                "/icons/svgs/" !default;
$icon-url-suffix:                ".svg" !default;

// Import tokens from the Chassis Tokens package
// @import "../node_modules/@ozgurgunes/chassis-tokens/dist/tokens/web/chassis-docs/allTokens";
