.cxd-sidebar {
  @include media-breakpoint-up(large) {
    position: sticky;
    top: 4rem;
    padding: 1.5rem .5rem;
    // background-color: var(--cx-bg-main);
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: subtract(100vh, 3rem);
    // Prevent focus styles to be cut off:
    overflow-y: auto;
  }

  @include media-breakpoint-down(large) {
    .offcanvas-large {
      border-right-color: var(--cx-border-color);
      box-shadow: var(--cx-box-shadow-large);
    }
  }
}

.cxd-links {
  position: relative;
}

.cxd-links-group {
  @include border-radius(var(--cx-border-radius));
  padding: .75rem;

  ul {
    margin: .25rem 0;
  }

  @include media-breakpoint-up(large) {
    & li:before {
      content: " ";
      width: 4px;
      height: 48px;
      background-color: var(--cx-secondary-30);
      position: absolute;
      margin-left: 6.5px;
      margin-top: -4px;
    }

    & li:first-child:before {
      height: 14px;
      margin-top: 14px;
    }

    & li:last-child:before {
      height: 14px;
    }

    & li:after {
      content: " ";
      width: 8px;
      height: 8px;
      //border-left: 8px var(--cx-border-style) var(--cx-secondary-base-color);
      position: absolute;
      background-color: var(--cx-secondary-30);
      border-radius: 50%;
      margin-top: .65rem;
      left: 1.025rem;
    }
  }
}

.cxd-links-group.active {
  background-color: var(--cx-secondary-bg-main);
  // border: var(--cx-border-width) var(--cx-border-style) var(--cx-secondary-border-subtle);
}

.cxd-links-heading {
  color: var(--cx-fg-main);
}

.active .cxd-links-heading {
  color: var(--cx-secondary-fg-highlight);
}

.cxd-links-nav {
  @include media-breakpoint-down(large) {
    font-size: .875rem;
  }

  @include media-breakpoint-between(xsmall, large) {
    column-count: 2;
    column-gap: 1.5rem;

    .cxd-links-group {
      break-inside: avoid;
    }

    .cxd-links-span-all {
      column-span: all;
    }
  }
}

.cxd-links-link {
  padding: .15rem .5rem;
  width: 100%;
  margin-left: 0;
  padding-left: 1.675rem;
  margin-top: .125rem;
  //margin-left: 1.125rem;
  color: var(--cx-fg-color);
  text-decoration: if($link-decoration == none, null, none);
  @include border-radius(var(--cx-border-radius));

  &:hover,
  &:focus {
    color: var(--cx-secondary-fg-highlight);
    //text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--cx-secondary-bg-highlight);
  }

  &.active {
    color: var(--cx-secondary-contrast-color);
    background-color: var(--cx-secondary-base-color);
    font-weight: 600;
  }
  .active &:not(.active):hover {
    background-color: var(--cx-secondary-dim-slight);
  }

  &:visited:not(.active):not(:hover):not(:focus) {
    color: var(--cx-fg-color);
  }
}
