// stylelint-disable selector-max-type, selector-no-qualifying-type

.cxd-toc {
  @include media-breakpoint-up(large) {
    position: sticky;
    top: 4rem;
    right: 0;
    z-index: 2;
    // border-image: linear-gradient(var(--cx-border-subtle) 25%, var(--cx-transparent-color) 50%) 1;
    // border-width: 0;
    // border-style: solid;
    // border-left-width: var(--cx-border-width);
    color: var(--cx-fg-subtle);
    height: subtract(100vh, 7rem);
    padding: 1rem 0;
    overflow-y: auto;
  }

  nav {
    font-size: .875rem;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      ul {
        padding-left: 1rem;
      }
    }

    a {
      display: block;
      padding: .125rem 0 .125rem .75rem;
      color: inherit;
      text-decoration: none;
      border-left: .125rem solid transparent;

      &:hover,
      &.active {
        color: var(--cxd-toc-color);
        border-left-color: var(--cxd-toc-color);
      }

      &.active {
        font-weight: 500;
      }

      code {
        font: inherit;
      }
    }
  }
}

.cxd-toc-toggle {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(small) {
    justify-content: space-between;
    width: 100%;
  }

  @include media-breakpoint-down(medium) {
    color: var(--cx-fg-color);
    border: 1px solid var(--cx-border-color);
    @include border-radius(var(--cx-border-radius));

    &:hover,
    &:focus,
    &:active,
    &[aria-expanded="true"] {
      color: var(--cxd-subtle);
      background-color: var(--cx-bg-color);
      border-color: var(--cxd-subtle);
    }

    &:focus,
    &[aria-expanded="true"] {
      box-shadow: 0 0 0 3px rgba(var(--cxd-subtle-rgb), .25);
    }
  }
}

.cxd-toc-collapse {
  @include media-breakpoint-down(medium) {
    nav {
      padding: 1.25rem 1.25rem 1.25rem 1rem;
      background-color: var(--cx-bg-evident);
      border: 1px solid var(--cx-border-color);
      @include border-radius(var(--cx-border-radius));
    }
  }

  @include media-breakpoint-up(medium) {
    display: block !important; // stylelint-disable-line declaration-no-important
  }
}
