---
import ResponsiveImage from "@components/ResponsiveImage.astro";
---

<div class="container d-flex vh-full align-items-center py-6xlarge">
  <div class="row py-6xlarge mt-n6xlarge">
    <div class="col-4">
      <h1 class="mb-4xlarge">
        <span class="text-nowrap font-normal">Design for the Future</span> in Modularity
      </h1>
      <p class="font-large">
        Chassis brings a modular, token-first approach to designing in Figma — built to scale and adapt over time. Every component is powered by tokens for color, spacing, typography, and sizing, ensuring future-proof flexibility across brands and platforms.
      </p>
    </div>
    <div class="col-8 text-end">
      <ResponsiveImage
        imgPath="/assets/images/home/lego-chassis.png"
        alt="Chassis UI"
        classes="mb-5xlarge"
        width={480}
      />
    </div>
  </div>
</div>
