---
import Placeholder from "@components/Placeholder.astro";
---

<div class="col-4">
  <div class="card mb-medium p-3xlarge">
    <div class="row g-xlarge">
      <div class="col-3 card-content p-0">
        <Placeholder
          width="56"
          height="56"
          text="Thumbnail"
        />
      </div>
      <div class="col card-content">
        <h5 class="card-title">Figma Components</h5>
      </div>
    </div>
  </div>
</div>
