---
import ResponsiveImage from "@components/ResponsiveImage.astro";
---

<div class="container d-flex vh-full align-items-center py-6xlarge">
  <div class="row py-6xlarge mt-n6xlarge">
    <div class="col-4">
      <h1 class="mb-4xlarge">
        <span class="text-nowrap font-normal">One Source of Truth.</span> Multiple
        Expressions.
      </h1>
      <p class="font-large">
        Whether you're shipping a client-facing app, operational tool, or
        internal dashboard, Chassis helps you centralize and scale design
        decisions. Design tokens can be modded per brand, app, or platform —
        enabling a multi-brand, multi-platform system from a single source of
        truth.
      </p>
    </div>
    <div class="col-8 text-end">
      <ResponsiveImage
        imgPath="/assets/images/home/platforms.png"
        alt="Chassis UI"
        classes="mb-5xlarge"
        width={480}
      />
    </div>
  </div>
</div>
