---
import ResponsiveImage from "@components/ResponsiveImage.astro";
import Placeholder from "@components/Placeholder.astro";
---

<div class="container d-flex vh-full align-items-center py-6xlarge">
  <div class="row py-6xlarge mt-n6xlarge">

    <div class="col-8 offset-2 text-center py-6xlarge mt-n6xlarge">
      <h1 class="font-hero mb-4xlarge">
        <span class="text-nowrap">Build Better Design Systems.</span> In Sync. At
        Scale.
      </h1>
      <p class="font-lead">
        Chassis is the backbone of scalable design systems built for complex,
        evolving product ecosystems. It unifies Figma components, advanced
        design tokens, multi-platform transformers, asset libraries, and a fully
        token-synced CSS framework — all working in harmony across brands,
        platforms, and products.
      </p>
      <button class="button primary">Get Started</button>
    </div>

    <div class="row gap-large py-6xlarge mt-n6xlarge">

      <div class="card col-4 mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>
      <div class="card col mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>
      <div class="card col-4 mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>
      <div class="card col-4 mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>
      <div class="card col mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>
      <div class="card col-4 mb-medium p-2xlarge">
        <div class="row g-large">
          <div class="col-3 d-block card-content">
            <Placeholder
              width="56"
              height="56"
              class="card-image"
              text="Thumbnail"
            />
          </div>
          <div class="col-9 card-content">
            <h5 class="card-title">Figma Components</h5>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
