---
import ResponsiveImage from "@components/ResponsiveImage.astro";
---

<div class="bg-evident vh-75 overflow-hidden pt-6xlarge">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide pt-6xlarge"
    data-cx-ride="carousel"
  >
    <div class="carousel-inner text-center">
      <div class="carousel-item active" data-cx-interval="5000">
        <div class="container">
          <div class="col">
            <h1>Documentation pagesfor detailed insights</h1>
            <p>
              Each component file has a documentation page provides
              comprehensive information on variants, properties, specifications,
              and design tokens. Empower product managers, design leads, and
              engineering teams to enhance projects with clarity and confidence.
            </p>
          </div>
        </div>
        <ResponsiveImage
          imgPath="/assets/images/home/figma-docs-light.png"
          alt="Chassis UI"
          classes="mb-5xlarge"
        />
      </div>
      <div class="carousel-item" data-cx-interval="5000">
        <div class="container">
          <div class="col">
            <h1>Elevate your design with a powerful color system</h1>
            <p>
              Chassis creates distinct color tokens linked to essential UI
              elements—text, backgrounds, icons, and indicators. With multiple
              emphasis levels, it ensures a cohesive and visually appealing
              design across all components, making it easier for product
              managers, design leads, and engineering teams to enhance their
              projects.
            </p>
          </div>
        </div>
        <ResponsiveImage
          imgPath="/assets/images/home/figma-library-light.png"
          alt="Chassis UI"
          classes="mb-5xlarge"
        />
      </div>
      <div class="carousel-item" data-cx-interval="5000">
        <div class="container">
          <div class="col">
            <h1>Documentation pagesfor detailed insights</h1>
            <p>
              Each component file has a documentation page provides
              comprehensive information on variants, properties, specifications,
              and design tokens. Empower product managers, design leads, and
              engineering teams to enhance projects with clarity and confidence.
            </p>
          </div>
        </div>
        <ResponsiveImage
          imgPath="/assets/images/home/figma-tokens-light.png"
          alt="Chassis UI"
          classes="mb-5xlarge"
        />
      </div>
    </div>
    <button
      class="button large link carousel-control-prev"
      type="button"
      data-cx-target="#carouselExampleAutoplaying"
      data-cx-slide="prev"
    >
      <svg class="icon"><use xlink:href="#chevron-left-solid"></use></svg>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="button large link carousel-control-next"
      type="button"
      data-cx-target="#carouselExampleAutoplaying"
      data-cx-slide="next"
    >
      <svg class="icon"><use xlink:href="#chevron-right-solid"></use></svg>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
