---
import ResponsiveImage from "@components/ResponsiveImage.astro";
---
  <div class="vh-75 bg-evident overflow-hidden">
    <ResponsiveImage imgPath="/assets/images/home/comp-gallery-light.png" alt="Chassis UI" classes="mb-5xlarge image-fluid w-100 display-light" />
    <ResponsiveImage imgPath="/assets/images/home/comp-gallery-dark.png" alt="Chassis UI" classes="mb-5xlarge image-fluid w-100 display-dark" />
  </div>
